
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");*/

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.list-column {
	margin: 3px 3px 3px 3px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

